/*==================== Global =========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robo
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page-container {
    min-height: 100vh;
}

/*==================== Header =========================*/
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

}

#logo {
    font-size: 1.2rem;
    font-weight: 900;
}

#logo span {
    color: rgb(235, 51, 88);
    font-size: 1.5rem;
}

#header_btn {
    display: flex;
    align-items: center;
}

.common-btn {
    padding: .3em;
    background-color: rgb(235, 51, 88);

    color: whitesmoke;
    margin: auto .2em;
    border-style: none;
    border-radius: 5px;
}

.common-btn:hover {
    background-color: #4644d3d5;
    transition: all 0.3s ease;
}

#logout-btn {
    display: none;
}

#username {
    display: none;
    color: rgb(235, 51, 88);
}

/*================= Navigation Bar ===================*/
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 51, 88);
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    margin: auto .3em;
}

.navbar a {
    color: whitesmoke;
    font-weight: 800;
}

.navbar a:hover {
    color: blue;

}

/*================= Main ===================*/
main {
    display: grid;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

.slide img {
    display: block;
    width: 80%;
    height: 50vh;
}

.regions h3 {
    color: rgb(235, 51, 88);
    margin: 1em;
}

.hotels h3 {
    color: rgb(235, 51, 88);
    margin: 1em;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 1em;
    border: 2px solid rgb(235, 51, 88);
    padding: .5em;
    text-align: justify;
    width: 250px;

}

.card img {
    display: flex;
    width: 100%;
    height: 20vh;
    margin-top: .2em;
    margin-bottom: .2em;
}

/*================= Form ===================*/

#register_form, #login_form {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: white;
    border: 3px solid rgb(235, 51, 88);
    border-radius: 10px;

}

.form-title {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-right: 0;
    width: 100%;
    border-style: none;
    text-align: center;

}

.form-title h3 {
    color: black;
    font-weight: 800;
    padding: .5em;
}

.home-form-item {
    width: 80%;
    margin: 0 auto;
}

#userInfo_container {
    display: none;
}

#user_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-wrapper {
    display: flex;
    width: 50%;


}

.input-wrapper label {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.userInfo-form-item {
    margin: 2em 1em;
}

/*================= Footer ===================*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 51, 88);
    bottom: 0;
}

footer div {
    flex-basis: content;
}

footer a, .copyright {
    font-size: .7rem;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 30px;
    width: 30px
}



/*================= Hotel Info ===================*/


#hotelInfo_container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    margin: 5px;
}

.hotel-page-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    width: 100%;
}

.slides img {
    height: 70vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

/* slideshow */




#hotel-info-table {
    width: 80%;
    margin: auto;
}

#hotel-info-table th {
    text-align: start;

}

.titleWithStars {
    display: flex;

}

.rating-stars {
    display: none;
}

/* room selections */

.room-options th, .room-options td {
    margin: .5em;
    padding: .5em;
    border: 1px solid black;
    border-collapse: collapse;
}